.questionResponse {
  max-width: 800px;
  margin: auto;
}
.fa-thumbs-o-down.active {
    color: red;
}
button.buttonApp.fa.fa-thumbs-o-up.active {
    color: @color-like ;
}
.response {
  margin-top: 1em;
  padding: 1em;
  background: white;
  border: 1px solid @border-color;
  span {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  form {
    text-align: right;
    margin-top: 8px;
  }
}
.answer {
  background: white;
  border: 1px solid @border-color;
  ul {
    list-style: none;
    padding: 0 15px;
    li{
      border-bottom: 1px solid @border-color;
    }
    .title {
      font-size: 1.5em;
      padding: 10px 0;
    }
    .footerAnswer {
      font-size: 0.9em;
      margin-bottom: 5px;
      .fa {
        font-size: 1.5em;
      }
      .fa-reply {
        margin: 0;
      }
      i {
        margin: 0 8px;
      }
    }
  }
}
