.questionsContainer{
  width: 100%;
  margin: auto;
  margin-top: 1em;
  .questions{
    padding: .5em;
    margin: 1em 0;
    background: gray;
    .title{
      font-size: 1.4em;
      font-weight: bold;
      padding: 2px;
    }
    .footerQuestion{
      font-size: .9em;
      .fa{
        font-size: 1.5em;
      }
      .fa-reply{
        margin: 0;
      }
      i{
        margin: 0 8px;
      }

    }
  }
}
.categoryContainer{
  ul{
    list-style: none;
    padding: 0;
    li{
      text-align: center;
      font-size: 1em;
      margin: 1em 0;
      text-transform: capitalize;
    }
  }
}
