<div class="row">
  <div class="col-xs-3 categoryContainer">
    <ul class="category">
      <li>
        <a href="#/home/">
            ALL
        </a>
      </li>
      <li ui-sref="home({category: category.id})" ng-repeat="category in vm.categorys">
        <a>
            {{category.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-9 border-left">
    <div class="questionsContainer">
      <div class="headerQuestion">
        <span class="titleHeader">Preguntas</span>
        <div class="action">
          <button class="buttonApp fa fa-plus"></button>
        </div>
      </div>
      <div class="questions" ng-repeat="question in vm.questions">
        <question-directive question="question" details="true"></question-directive>
      </div>
    </div>
  </div>
</div>
