<div class="row">
  <div class="col-xs-4 categoryContainer">
    <ul class="category">
      <li ui-sref="home({category: category.id})" ng-repeat="category in vm.categorys">
        <a>
            {{category.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="questionsContainer">
      <div class="questions" ng-repeat="question in vm.questions">
        <question-directive question="question" details="true"></question-directive>
      </div>
    </div>
  </div>
</div>
