.questionsContainer {
  width: 100%;
  margin: 1em auto;
  .questions {
    padding: 0.5em;
    margin: 1em auto;
    max-width: 800px;
    background: gray;
    .title {
      font-size: 1.4em;
      font-weight: bold;
      padding: 10px 2px;
    }
    .footerQuestion {
      font-size: 0.9em;
      .fa {
        font-size: 1.5em;
      }
      .fa-reply {
        margin: 0;
      }
      i {
        margin: 0 8px;
      }
    }
  }
}
