<div class="headerQuestion">
  <a ui-sref="question({id: vm.question.id})" ng-if="vm.details" class="title">{{vm.question.question}}</a>
  <div ng-if="!vm.details" class="title">{{vm.question.question}}</div>
  <div class="action" ng-if="vm.user.id == vm.question.user.id">
    <button class="buttonApp fa fa-pencil" ng-click="vm.openModalQuestion('md',vm.question)"></button>
    <button class="buttonApp fa fa-trash-o" ng-click="vm.deleteQuestion(vm.question.id)"></button>
  </div>
</div>
<div ng-class="vm.details ? 'bodyNotDetails':''" class="bodyQuestion">
  {{vm.question.message}}
</div>
<div class="footerQuestion row">
  <div class="col-xs-6">
    <i><span>{{vm.question.cantAnswer}} respuestas</span></i>
    <i ng-click="vm.likeQuestion(vm.question.id)" ng-init="vm.isLike(vm.question.id);" ng-class="vm.question.isLike ? 'active':''" class="fa fa-heart"><span>{{vm.question.likes}}</span></i>
  </div>
  <div class="col-xs-6 text-rigth">
    <i>{{vm.question.user.name}}</i>
    <i>{{vm.question.createdAt | dateFormat}}</i>
  </div>
</div>
