@principal-color: #fafafc;
@border-color: #e6e6e6;
@color-letter: #fff;
@color-like:  #0A9693;
.mainContainer {
    max-width: 1024px;
    margin: 1em auto;
}
.text-rigth {
    text-align: right;
}
body {
    background: @principal-color;
}
.buttonApp {
    border: 0;
    padding: 3px;
}
.border-left {
    border-left: 1px solid @border-color;
}
.modal-content {
    width: 100%;
    margin: auto;
    padding: 3em;
    p{
      font-size: 1.3em;
      font-weight: bold;
      text-align: center;
    }
}
